main{
	text-align: center;
	color: #A0522D;
	font-family: Courier New;
	width: 40em;
}

section{
	line-height: 2em;
}

span {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 125px
}